{
  "extends": "airbnb-base",
  "plugins": ["import", "node", "promise", "jsx-a11y", "react", "react-hooks"],
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "no-console": "off"
  }
}